@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body{
  background-color: #030014;
  /* &::-webkit-scrollbar{
    display: none;
  } */
}
  
  .landingPage{
    background-color: #030014;
  }

  @media (min-width: 1500px) {
    .landingPage {
      background: repeating-linear-gradient(
        to right,
        #030014 0%,
        #030014 15%,
        #241059 25%,
        #241059 35%,
        #030014 50%
      );
      background-size: 200% 100%;
      animation: flowGradient 10s linear infinite;
    }
  
    @keyframes flowGradient {
      0% {
        background-position: 0% 0%;
      }
      100% {
        background-position: 100% 0%;
      }
    }
  }

  @keyframes gradient-border {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 400% 50%;
    }
  }
  
  .animate-gradient-border {
    animation: gradient-border 10s linear infinite;
    background-size: 400% 400%;
  }
  
  